In [20]:
import pandas as pd
import os
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
c:\Users\User\Downloads\Projeto2_CDados

In [21]:
dados = pd.read_csv('drinks.csv')
temp = pd.read_excel('temp.xlsx')
dados

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
5,Antigua & Barbuda,102,128,45,4.9
6,Argentina,193,25,221,8.3
7,Armenia,21,179,11,3.8
8,Australia,261,72,212,10.4
9,Austria,279,75,191,9.7
10,Azerbaijan,21,46,5,1.3
11,Bahamas,122,176,51,6.3
12,Bahrain,42,63,7,2.0
13,Bangladesh,0,0,0,0.0
14,Barbados,143,173,36,6.3
15,Belarus,142,373,42,14.4
16,Belgium,295,84,212,10.5
17,Belize,263,114,8,6.8
18,Benin,34,4,13,1.1
19,Bhutan,23,0,0,0.4
20,Bolivia,167,41,8,3.8
21,Bosnia-Herzegovina,76,173,8,4.6
22,Botswana,173,35,35,5.4
23,Brazil,245,145,16,7.2
24,Brunei,31,2,1,0.6
25,Bulgaria,231,252,94,10.3
26,Burkina Faso,25,7,7,4.3
27,Burundi,88,0,0,6.3
28,Cote d'Ivoire,37,1,7,4.0
29,Cabo Verde,144,56,16,4.0
...,...,...,...,...,...
163,Suriname,128,178,7,5.6
164,Swaziland,90,2,2,4.7
165,Sweden,152,60,186,7.2
166,Switzerland,185,100,280,10.2
167,Syria,5,35,16,1.0
168,Tajikistan,2,15,0,0.3
169,Thailand,99,258,1,6.4
170,Macedonia,106,27,86,3.9
171,Timor-Leste,1,1,4,0.1
172,Togo,36,2,19,1.3
173,Tonga,36,21,5,1.1
174,Trinidad & Tobago,197,156,7,6.4
175,Tunisia,51,3,20,1.3
176,Turkey,51,22,7,1.4
177,Turkmenistan,19,71,32,2.2
178,Tuvalu,6,41,9,1.0
179,Uganda,45,9,0,8.3
180,Ukraine,206,237,45,8.9
181,United Arab Emirates,16,135,5,2.8
182,United Kingdom,219,126,195,10.4
183,Tanzania,36,6,1,5.7
184,USA,249,158,84,8.7
185,Uruguay,115,35,220,6.6
186,Uzbekistan,25,101,8,2.4
187,Vanuatu,21,18,11,0.9
188,Venezuela,333,100,3,7.7
189,Vietnam,111,2,1,2.0
190,Yemen,6,0,0,0.1
191,Zambia,32,19,4,2.5
192,Zimbabwe,64,18,4,4.7

In [22]:
mergedStuff = pd.merge(dados, temp, on=['country'], how='left')
drop_reps = mergedStuff.drop_duplicates(subset=None, keep='first', inplace=False)
final = drop_reps.dropna(subset = ['temperature'], inplace = False)
final

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,temperature
0,Afghanistan,0,0,0,0.0,16.0
1,Albania,89,132,54,4.9,14.0
2,Algeria,25,0,14,0.7,25.0
3,Andorra,245,138,312,12.4,11.0
4,Angola,217,57,45,5.9,23.0
6,Argentina,193,25,221,8.3,15.0
7,Armenia,21,179,11,3.8,12.0
8,Australia,261,72,212,10.4,22.0
9,Austria,279,75,191,9.7,7.0
10,Azerbaijan,21,46,5,1.3,14.0
11,Bahamas,122,176,51,6.3,25.0
12,Bahrain,42,63,7,2.0,28.0
13,Bangladesh,0,0,0,0.0,26.0
14,Barbados,143,173,36,6.3,28.0
15,Belarus,142,373,42,14.4,7.0
16,Belgium,295,84,212,10.5,9.0
17,Belize,263,114,8,6.8,26.0
18,Benin,34,4,13,1.1,28.0
19,Bhutan,23,0,0,0.4,13.0
20,Bolivia,167,41,8,3.8,21.0
22,Botswana,173,35,35,5.4,23.0
23,Brazil,245,145,16,7.2,26.0
25,Bulgaria,231,252,94,10.3,12.0
26,Burkina Faso,25,7,7,4.3,29.0
27,Burundi,88,0,0,6.3,21.0
30,Cambodia,57,65,1,2.2,28.0
31,Cameroon,147,1,4,5.8,25.0
32,Canada,240,122,100,8.2,-2.0
33,Central African Republic,17,2,1,1.8,26.0
34,Chad,15,1,1,0.4,29.0
...,...,...,...,...,...,...
158,Somalia,0,0,0,0.0,28.0
159,South Africa,225,76,81,8.2,18.0
160,Spain,284,157,112,10.0,14.0
161,Sri Lanka,16,104,0,2.2,28.0
162,Sudan,8,13,0,1.7,29.0
163,Suriname,128,178,7,5.6,27.0
164,Swaziland,90,2,2,4.7,20.0
165,Sweden,152,60,186,7.2,2.0
166,Switzerland,185,100,280,10.2,7.0
167,Syria,5,35,16,1.0,21.0
168,Tajikistan,2,15,0,0.3,6.0
169,Thailand,99,258,1,6.4,27.0
170,Macedonia,106,27,86,3.9,12.0
172,Togo,36,2,19,1.3,28.0
173,Tonga,36,21,5,1.1,24.0
175,Tunisia,51,3,20,1.3,22.0
176,Turkey,51,22,7,1.4,14.0
177,Turkmenistan,19,71,32,2.2,17.0
179,Uganda,45,9,0,8.3,24.0
180,Ukraine,206,237,45,8.9,9.0
181,United Arab Emirates,16,135,5,2.8,30.0
182,United Kingdom,219,126,195,10.4,8.0
183,Tanzania,36,6,1,5.7,23.0
185,Uruguay,115,35,220,6.6,18.0
186,Uzbekistan,25,101,8,2.4,14.0
188,Venezuela,333,100,3,7.7,26.0
189,Vietnam,111,2,1,2.0,25.0
190,Yemen,6,0,0,0.1,27.0
191,Zambia,32,19,4,2.5,22.0
193,Zimbabwe,64,18,4,4.7,22.0

In [23]:
final.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,temperature
count,170.000000,170.000000,170.000000,170.000000,170.000000
mean,109.770588,79.141176,52.370588,4.831176,19.605882
std,103.111592,85.355456,83.492254,3.815823,8.677180
min,0.000000,0.000000,0.000000,0.000000,-15.000000
25%,20.250000,5.000000,1.000000,1.300000,12.250000
50%,77.000000,60.500000,8.000000,4.500000,23.000000
75%,192.750000,122.000000,61.250000,7.275000,27.000000
max,376.000000,438.000000,370.000000,14.400000,30.000000

In [26]:
final.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
temperature                     float64
dtype: object

In [28]:
correlacao = final.corr()
correlacao

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,temperature
beer_servings,1.000000,0.441931,0.531823,0.831776,-0.448889
spirit_servings,0.441931,1.000000,0.189116,0.632028,-0.312126
wine_servings,0.531823,0.189116,1.000000,0.676209,-0.549436
total_litres_of_pure_alcohol,0.831776,0.632028,0.676209,1.000000,-0.537148
temperature,-0.448889,-0.312126,-0.549436,-0.537148,1.000000

In [30]:
#final.hist()